.profile-user-info {
	display: table;
	width: 98%;
	width: calc(100% - 24px);
	margin: 0 auto
}

.profile-info-row {
    display: table-row;
    
}

.profile-info-name {
	text-align: right;
	padding: 6px 10px 6px 4px;
	font-weight: 400;
	color: #667E99;
	background-color: transparent;
	border-top: 1px dotted #D5E4F1;
	display: table-cell;
	width: 110px;
	vertical-align: middle
}

.profile-info-value {
	display: table-cell;
	padding: 6px 4px 6px 6px;
    border-top: 1px dotted #D5E4F1
  
}

.profile-info-value>span+span:before {
	display: inline;
	content: ",";
	margin-left: 1px;
	margin-right: 3px;
	color: #666;
	border-bottom: 1px solid #FFF
}

.profile-info-value>span+span.editable-container:before {
	display: none
}

.profile-info-row:first-child .profile-info-name, .profile-info-row:first-child .profile-info-value
	{
	border-top: none
}

.profile-user-info-striped {
	border: 1px solid #DCEBF7
}

.profile-user-info-striped .profile-info-name {
	color: #336199;
	background-color: #EDF3F4;
	border-top: 1px solid #F7FBFF
}

.profile-user-info-striped .profile-info-value {
	border-top: 1px dotted #DCEBF7;
	padding-left: 12px
}

.profile-picture {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 4px;
	display: inline-block;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}



.user-profile .ace-thumbnails li {
	border: 1px solid #CCC;
	padding: 3px;
	margin: 6px
}

.user-profile .ace-thumbnails li .tools {
	left: 3px;
	right: 3px
}

.user-profile .ace-thumbnails li:hover .tools {
	bottom: 3px
}

.user-profile .user-title-label:hover {
	text-decoration: none
}

.user-profile .user-title-label+.dropdown-menu {
	margin-left: -12px
}

.profile-contact-links {
	padding: 4px 2px 5px;
	border: 1px solid #E0E2E5;
	background-color: #F8FAFC
}


